/*******************************************************************
# RESET
*******************************************************************/

/* FONT FAMILY IMPORT */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  list-style-type: none;
  text-decoration: none;

  /* FONT */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
}

button {
  all: unset;
}

a:-webkit-any-link {
  color: var(--color-primary);
}

input {
  all: unset;
}

select {
  all: unset;
}



/*******************************************************************
# CUSTOM PROPERTIES
*******************************************************************/

:root {
  /* SPACE UNIT */
  --space-unit: 1rem;
  --space-unit-half: calc(var(--space-unit) / 2);
  --space-unit-2: calc(var(--space-unit) * 2);
  --space-unit-4: calc(var(--space-unit) * 4);

  /* TYPOGRAPHY */
  --typo-size: 1.2rem;
  --typo-vw: 1vw;
  --typo-h1: calc(calc(var(--typo-size) * 1.5) + calc(var(--typo-vw) *1.8));
  --typo-h2: calc(var(--typo-size) + calc(var(--typo-vw) *1.2));
  --typo-h3: calc(var(--typo-size) + calc(var(--typo-vw) * 0.8));
  --typo-h4: calc(var(--typo-size) + calc(var(--typo-vw) *0.4));
  --typo-h5: calc(var(--typo-size) + calc(var(--typo-vw) *0.2));
  --typo-small: calc(var(--typo-size) *0.8);

  /* CONTAINER */
  --container: 80%;
  --container-max: 1400px;

  /* PALETTE - DEFAULT MODE */
  --color-primary: white;
  --color-primary-transparent20: rgba(255, 255, 255, 0.2);
  --color-secondary: rgb(228, 228, 228);
  --color-terziary: rgb(107, 107, 107);

  --bg-primary: rgb(17, 17, 17);
  --bg-elements: rgb(43, 43, 43);

  --color1: rgb(45, 138, 233);
  --color1: rgb(0, 107, 214);
  --color2: rgb(237, 13, 137);
  --color3: rgb(0, 255, 234);
  --hover-color: rgb(0, 255, 234);
  --hover-transition: all 0.5s ease;

  --color-warning: rgb(226, 43, 67);
  --color-success: rgb(28, 143, 89);
}



/*******************************************************************
# RESPONSIVE TYPOGRAPHY
*******************************************************************/

* {
  letter-spacing: calc(var(--typo-size) * 0.02);
}

h1 {
  font-size: var(--typo-h1);
  font-weight: 600;
}

h2 {
  font-size: var(--typo-h2);
  font-weight: 600;
}

h3 {
  font-size: var(--typo-h3);
  font-weight: 600;
}

h4 {
  font-size: var(--typo-h4);
  font-weight: 500;
}

h5 {
  font-size: var(--typo-h5);
  font-weight: 600;
}

p {
  color: var(--color-secondary);
  font-size: var(--typo-size);
  font-weight: 200;
}

.smallText {
  color: var(--color-secondary);
  font-size: var(--typo-small);
  font-weight: 200;
}

.textLight {
  font-weight: 100;
}



/*******************************************************************
# SPACING
*******************************************************************/

.space-half {
  margin-bottom: var(--space-unit-h);
}

.space1 {
  margin-bottom: var(--space-unit);
}

.space2 {
  margin-bottom: var(--space-unit-2);
}

.space3 {
  margin-bottom: calc(var(--space-unit) * 3)
}

.space4 {
  margin-bottom: var(--space-unit-4);
}



/*******************************************************************
# UTILITY
*******************************************************************/

body {
  height: 100vh;
  min-width: 95vw;
  background-color: var(--bg-primary);
  color: var(--color-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  width: var(--container);
  max-width: var(--container-max);
  padding: var(--space-unit-4) 0;
  margin: auto;
}

.card {
  padding: var(--space-unit-2);
  border: 2px solid var(--color1);
  border-radius: 35px;
  border-top-right-radius: 0;
}

.squarePic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.bottomButtonsContainer {
  margin-top: var(--space-unit-4);
  display: flex;
  justify-content: start;
  gap: var(--space-unit);
}

.hidden {
  display: none;
}

.warning {
  color: var(--color-warning);
}

/****************************************** ## BUTTONS */

.button {
  font-size: var(--typo-size-p);
  font-weight: 500;
  padding: calc(var(--space-unit) * 0.3) calc(var(--space-unit) * 1.2);
  border-radius: 50px;
  border: 2px solid var(--bg-elements);
  background-color: var(--bg-elements);
  cursor: pointer;
}

.button1 {
  border: 2px solid var(--color1);
  background-color: transparent;
}

.button2 {
  border: 2px solid var(--color2);
  background-color: transparent;
}

.button3 {
  border: 2px solid var(--color3);
  background-color: transparent;
}

.buttonSolid1 {
  border: 2px solid var(--color1);
  background-color: var(--color1);
}

.buttonSolid2 {
  border: 2px solid var(--color2);
  background-color: var(--color2);
}

.buttonSolid3 {
  color: var(--bg-primary);
  border: 2px solid var(--color3);
  background-color: var(--color3);
}

.buttonWarning {
  color: white;
  font-weight: 500;
  border: 2px solid var(--color-warning);
  background-color: var(--color-warning);
}

.roundButton {
  cursor: pointer;
  color: var(--bg-primary);
  font-weight: 100;
  border-radius: 100%;
  background-color: rgb(214, 214, 214);
  height: 2rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundButton:hover {
  color: white;
  background-color: var(--color-warning);
  transition: var(--hover-transition);
}

/****************************************** ## INPUTS*/

.input {
  font-size: var(--typo-small);
  padding: var(--space-unit-half) var(--space-unit-2);
  background-color: var(--bg-elements);
  color: var(--color-primary);
  outline: none;
  border: 2px solid var(--bg-elements);
  border-radius: 50px;
  flex-grow: 1;
}

.input::placeholder {
  color: var(--color-secondary);
}

.input:focus {
  background-color: var(--bg-elements);
  color: var(--color-primary);
  border: 2px solid var(--color3);
  border-radius: 50px;
}

/****************************************** ## LINKS */

.hyperlink:hover {
  color: var(--hover-color);
  transition: var(--hover-transition);
}

/****************************************** ## FLEX */

.flexLine {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-unit);
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: var(--space-unit);
}

/****************************************** ## SECTION */

.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-unit-2);
  padding-bottom: var(--space-unit-2);
  border-bottom: 2px solid var(--color-terziary);
  margin-bottom: var(--space-unit-4);
}

/****************************************** ## MISCELLANEOUS */

.listSymbol {
  color: var(--color1);
}

.missingData {
  padding: 0 1rem;
  background-color: yellow;
  color: rgb(255, 0, 0);
}



/*******************************************************************
# MODAL
*******************************************************************/

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  padding: var(--space-unit-2);
  display: flex;
  flex-direction: column;
  gap: var(--space-unit-2);
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 60%;
  color: var(--color-primary);
  padding: var(--space-unit-2);
}

.modalText {
  color: inherit;
}

.modalButtonsContainer {
  display: flex;
  justify-content: end;
  gap: var(--space-unit);
}

.closeModal {
  background-color: var(--color-warning);
  border-color: var(--color-warning);
}



/*******************************************************************
# HEADER
*******************************************************************/

header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-unit-2);
  background-color: var(--bg-elements);
}

header .imgContainer {
  max-height: var(--space-unit-3);
  max-height: calc(var(--space-unit-2) * 1.1);
}

header .imgContainer a {
  display: flex;
  align-items: center;
  height: 100%;
}

header .imgContainer img {
  max-height: 100%;
  max-width: 100%;
}



/*******************************************************************
# NAVBAR
*******************************************************************/

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--space-unit);
  position: relative;
  flex-grow: 1;
}

nav>a {
  padding-right: var(--space-unit);
  border-right: 1px solid var(--color-terziary);
}

nav :nth-last-child(2) {
  padding-right: 0;
  border: none;
}

nav :last-child {
  border: none;
}

/****************************************** ## DROPDOWN */

nav .dropDownButton {
  cursor: pointer;
  font-size: var(--typo-h5);
  font-weight: 500;
}

nav .dropDownButton:hover {
  color: var(--hover-color);
  transition: var(--hover-transition);
}

nav .dropDown {
  position: absolute;
  right: 0;
  top: 120%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  padding: var(--space-unit);
  border-radius: 10px;
  border-top-right-radius: 0;
  border: 1px solid var(--color3);
}

nav .dropDown>* {
  padding-bottom: var(--space-unit);
  margin-bottom: var(--space-unit);
  border-bottom: 1px solid var(--color-terziary);
}

nav .dropDown> :last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

/****************************************** ## LANGUAGE OPTIONS */

.languageOptions {
  display: flex;
  gap: var(--space-unit-half);
}

.languageOpt {
  cursor: pointer;
}

.languageOpt:hover {
  color: var(--hover-color);
  transition: var(--hover-transition);
}

.languageOpt.selected {
  font-weight: 600;
  color: var(--color-primary);
  padding-bottom: calc(var(--space-unit) * 0.1);
  border-bottom: 2px dotted var(--color3);
}



/*******************************************************************
# FILTERS
*******************************************************************/

/****************************************** ## FILTERS CONTAINER */

.filtersSection {
  width: 100%;
  display: flex;
  gap: var(--space-unit);
  flex-wrap: wrap;
}

/****************************************** ## SHARED FILTERS PROPERTIES */

.filterContainer {
  font-size: var(--space-unit);
  flex-grow: 1;
  cursor: pointer;
  max-width: 45%;
  border-radius: 35px;
  border: 2px solid var(--color1);
  padding: var(--space-unit-half) calc(var(--space-unit) * 1.5);
  padding-right: var(--space-unit-half);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/****************************************** ## SELECT */

select {
  display: flex;
  align-items: center;
  margin-right: var(--space-unit);
}

.select {
  flex-grow: 1;
  appearance: none;
  border: none;
}

.select:focus {
  outline: none;
  border: none;
}

option {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--bg-elements);
}

option:hover {
  background-color: var(--color1);
  transition: var(--hover-transition);
}

/****************************************** ## SEARCHBAR */

.searchbarInput {
  min-width: 85%;
}

/****************************************** ## TAGS */

.tagsFilter {
  color: var(--color-primary);
  font-size: var(--space-unit);
  font-weight: 400;
  flex-grow: 1;

}

/****************************************** ## LABELS */

.labelsList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-unit);
  padding: var(--space-unit-2) 0;
  margin: var(--space-unit-2) 0;
  border-top: 2px dotted var(--color-terziary);
  border-bottom: 2px dotted var(--color-terziary);
}

.label {
  cursor: pointer;
  font-size: var(--typo-small);
  border: 2px solid var(--color-primary-transparent20);
  border-radius: 35px;
  padding: calc(var(--space-unit) / 10) var(--space-unit);
  flex-grow: 0;
}

.label.on {
  border: 2px solid var(--color3);
}



/*******************************************************************
# PRODUCTS
*******************************************************************/

.productsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-unit-2);
}

/****************************************** ## PRODUCT CARD */

.productCard {
  cursor: pointer;
  display: flex;
  gap: var(--space-unit-2);
}

.productCard strong {
  font-weight: 500;
  ;
}

.productCard p,
.productCard .label {
  font-size: calc(var(--typo-size) * 0.9);
}

.productCard .squarePicContainer {
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
  flex: 0 0 calc((100% / 5) - ((var(--space-unit) * 2) / 5));
  cursor: pointer;
}

/****************************************** ## PRODUCT DETAILS */

.productDetails {
  display: flex;
  flex-direction: column;
  gap: var(--space-unit);
  flex-grow: 1;
  padding-bottom: var(--space-unit);
  border-bottom: 1px dotted var(--color-terziary);
  margin-bottom: auto;

  position: relative;
}

.productDetails .dropDownArrow {
  margin: auto;
  background-color: var(--bg-primary);
  border: 2px solid var(--color-terziary);
  height: calc(var(--typo-size) * 1.2);
  width: calc(var(--typo-size) * 1.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productDetails .dropDownArrow p {
  font-size: calc(var(--typo-size) * 0.6);
  text-align: center;
}

.productDetails .dropDownArrow p.open {
  padding-top: 0;
  padding-bottom: calc(var(--typo-size) * 0.10);
}

.productCard .list {
  display: flex;
  flex-direction: column;
  gap: var(--space-unit-half)
}

.productCard .infoContainer {
  padding-top: var(--space-unit-half);
  margin-left: var(--space-unit);
  display: flex;
  gap: var(--space-unit-half);
  flex-grow: 1;
  flex-wrap: wrap;
}

.productCard .infoContainer .label {
  border: 2px solid var(--color-terziary);
  margin-right: 0;
}

/****************************************** ## DEFAULT IMG */

.squarePicDefault {
  background-color: var(--bg-elements);
  /* border: 1px dotted var(--color-terziary); */
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  text-align: center;
}

.productCard .squarePicDefault h5 {
  font-size: var(--typo-size);
  font-weight: 200;
}

.squarePicDefault {
  flex: 0 0 calc((100% / 6) - ((var(--space-unit) * 2) / 6));
}



/*******************************************************************
# GALLERY
*******************************************************************/

/****************************************** ## COLUMNS */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-unit-half);
}

.gallery .squarePicContainer {
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
  flex: 0 0 calc((100% / 3) - ((var(--space-unit) * 2) / 3));
  cursor: pointer;
}

/****************************************** ## OVERLAY */

.PicOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  padding: var(--space-unit-2);
  display: flex;
  flex-direction: column;
  gap: var(--space-unit-2);
  justify-content: center;
  align-items: center;
}

.OverlayCloseContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.OverlayImg {
  max-width: 100%;
  max-height: calc(100% - calc(var(--space-unit-2) * 3));
  object-fit: contain;
}



/*******************************************************************
# CONTACT FORM
*******************************************************************/

form .input {
  font-size: var(--typo-size);
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: var(--space-unit-2);
  margin-bottom: var(--space-unit-2);
}

.contactForm .space1 {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-unit);
}

.contactForm .input {
  min-width: 25%;
  padding-left: var(--space-unit);
}

.contactForm .fieldMessage.input {
  padding: var(--space-unit);
  min-height: 12rem;
  border-radius: 15px;
}

.charCounter {
  display: flex;
  justify-content: end;
}

.charCounter .counter {
  margin-left: auto;
  font-weight: 400;
}

.contactForm .checkboxText {
  font-size: var(--typo-small);
}



/*******************************************************************
# CHECKBOX
*******************************************************************/

.checkboxContainer {
  cursor: pointer;
  color: var(--color-primary);
  display: flex;
  align-items: start;
  gap: var(--space-unit);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--space-unit) + var(--space-unit-half));
  aspect-ratio: 1;
  border: 2px solid var(--color3);
  border-radius: 5px;
  margin-top: calc(var(--space-unit-half) * 0.7);
}

.checkboxText {
  max-width: 90%;
  font-size: calc(var(--typo-small) *1.3);
  color: inherit;
}

.checkMark {
  color: inherit;
  font-size: var(--typo-h5);
  line-height: var(--space-unit);
  rotate: 45deg;
}



/*******************************************************************
# CALL US
*******************************************************************/

.callHours {
  gap: var(--space-unit-half);
}

.callHours .daySlots {
  display: flex;
  flex-direction: column;
  gap: var(--space-unit-half);
}

.callHours .slot {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-unit-half);
  padding-bottom: var(--space-unit-half);
  border-bottom: 1px solid var(--color-terziary);
  ;
}

.callHours .daySlots :last-child {
  padding-bottom: none;
}

.callHours .day {
  min-width: 12%;
}

.callHours .hours {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-unit);
}



/*******************************************************************
# MAP
*******************************************************************/

.mapSection a:hover {
  color: inherit;
  transition: var(--hover-transition);
}

.mapContainer {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--space-unit) *3);
}

.mapContainer .mapText {
  max-width: 35%;
}

.mapContainer a:hover {
  color: inherit;
  transition: var(--hover-transition);
}

.mapContainer img {
  max-height: 100%;
  max-width: 100%;
}



/*******************************************************************
# ERROR MSG
*******************************************************************/

.errorMsg {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: var(--space-unit-half);
}

.errorMsg img {
  width: calc(15px + calc(var(--typo-vw) * 0.5));
  aspect-ratio: 1;
}



/*******************************************************************
# ACCORDION
*******************************************************************/

.accordion.card {
  cursor: pointer;
  border-radius: 15px;
  border-top-right-radius: 0;
}

.accordionText {
  padding-top: var(--space-unit);
  max-height: 50vh;
}



/*******************************************************************
# SOCIAL MEDIA
*******************************************************************/

.socialMedia {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--space-unit) * 1.2);
}

.socialMedia a {
  display: flex;
  align-items: center;
}

.socialMedia img {
  height: calc(20px + calc(var(--typo-vw) * 0.5));
  aspect-ratio: 1;
}



/*******************************************************************
# TOGGLE
*******************************************************************/

.toggle {
  display: flex;
  align-items: center;
  gap: var(--space-unit-half);
  cursor: pointer;
  line-height: 100%;
}

.toggle .toggleContainer {
  display: flex;
  justify-content: start;
  height: calc(var(--space-unit) + .5vh + 3px);
  aspect-ratio: 2;
  padding: 3px;
  border-radius: 15px;
  border: 2px solid var(--color-secondary);
}

.toggle .toggleContainer.on {
  justify-content: end;
  border-color: var(--color-primary);
}

.toggle .togglePoint {
  height: calc(var(--space-unit) + .5vh -4px);
  aspect-ratio: 1;
  background-color: var(--color-terziary);
  border-radius: 100%;
}

.toggle .togglePoint.on {
  background-color: var(--color1);
}

.toggle p {
  color: var(--color-primary);
}



/*******************************************************************
# FOOTER
*******************************************************************/

footer {
  color: var(--color-secondary);
  font-size: var(--typo-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-unit);
  padding: var(--space-unit-2);
  background-color: var(--bg-elements);
}

footer .navLink {
  font-size: calc(var(--typo-size) * 0.8);
  padding-right: var(--space-unit);
  border-right: 1px solid var(--color-terziary);
}

footer .flexLine :last-child {
  padding-right: 0;
  border: none;
}



/*******************************************************************
# NOT FOUND PAGE
*******************************************************************/

.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-unit-2);
  margin: auto;
}

.notFoundContainer img {
  max-height: 60px;
}



/*******************************************************************
# MEDIAQUERY
*******************************************************************/

/* ### TABLET ************************************************************************************************/

@media screen and (max-width: 768px) {

  /****************************************** ## CUSTOM PROPERTIES */

  :root {
    /* TYPOGRAPHY */
    --typo-size: 1rem;
  }

  /****************************************** ## UTILITY */

  .card {
    padding: calc(var(--space-unit) * 1.5);
    border-radius: 15px;
    border-top-right-radius: 0;
  }

  /****************************************** ## FILTERS CONTAINER */

  .filtersSection {
    width: 100%;
    display: flex;
    gap: var(--space-unit);
    flex-wrap: wrap;
  }

  /****************************************** ## SHARED FILTERS PROPERTIES */

  .filterContainer {
    flex-grow: 1;
    max-width: 100%;
  }

  /****************************************** ## PRODUCTS */

  .productCard .squarePicContainer {
    flex: 0 0 calc((100% / 3) - ((var(--space-unit) * 2) / 3));
  }

  /****************************************** ## CALL US */

  .callHours .day {
    min-width: 20%;
  }

  /****************************************** ## MAP */

  .mapContainer .imgSection {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-unit-2);
  }

  .mapContainer .mapText {
    max-width: none;
  }
}



/* ### MOBILE ************************************************************************************************/

@media screen and (max-width: 576px) {

  /****************************************** ## CUSTOM PROPERTIES */

  :root {
    /* TYPOGRAPHY */
    --typo-size: 1.2rem;
  }

  /****************************************** ## RESPONSIVE TYPOGRAPHY */

  p {
    line-height: calc(var(--typo-size) + calc(var(--typo-vw) *1.7));
  }

  /****************************************** ## UTILITY */

  .container {
    width: calc(var(--container)* 1.07);
  }

  .card {
    padding: var(--space-unit);
  }

  .squarePicContainer {
    flex: 0 0 100%;
    gap: var(--space-unit-half);
  }

  /****************************************** ## SECTION */

  .section {
    margin-bottom: var(--space-unit-2);
  }

  /****************************************** ## HEADER */

  header {
    padding: calc(var(--space-unit) *1.5);
  }

  /****************************************** ## FILTERS */

  .filterContainer {
    flex-grow: 1;
    max-width: 100%;
  }

  .tagsList {
    margin: 0;
  }

  /****************************************** ## PRODUCT CARD */

  .productCard {
    flex-wrap: wrap;
    gap: var(--space-unit);
  }

  .productCard .squarePicContainer {
    flex: 0 0 100%;
  }

  /****************************************** ## GALLERY */

  .gallery {
    gap: var(--space-unit);
  }

  .gallery .squarePicContainer {
    flex: 0 0 100%;
  }

  /****************************************** ## CHECKBOX */

  .checkboxText {
    max-width: 100%;
  }

  /****************************************** ## CALL US */

  .callHours .slot {
    flex-direction: column;
  }

  .callHours .day {
    min-width: 25%;
  }

  .buttonContainerContacts {
    display: flex;
    justify-content: space-between;
  }
}

/****************************************** ## MODAL */

.modal {
  text-align: center;
  max-width: 85%;
  padding: var(--space-unit-2);
}

.modalButtonsContainer {
  flex-direction: column;
  align-items: center;
}

.closeModal {
  margin: var(--space-unit) 0;
}



/* ### MOBILE XS ************************************************************************************************/

@media screen and (max-width: 350px) {

  /****************************************** ## NAVBAR */

  /****************************************** ## DROPDOWN */


  nav .dropDown {
    top: 200%;
    width: calc(100vw - calc(var(--space-unit) *3));
  }
}



/*******************************************************************
# DEBUG
*******************************************************************/

.debug {
  padding: var(--space-unit);
  background-color: rgba(255, 0, 0, 0.3);
  color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}