/*******************************************************************
# RESET
*******************************************************************/

/* FONT FAMILY IMPORT */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  list-style-type: none;
  text-decoration: none;

  /* FONT */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
}

button {
  all: unset;
}

a:-webkit-any-link {
  color: var(--color-primary);
}

input {
  all: unset;
}

select {
  all: unset;
}



/*******************************************************************
# CUSTOM PROPERTIES
*******************************************************************/

:root {
  /* SPACE UNIT */
  --space-unit: 1rem;
  --space-unit-half: calc(var(--space-unit) / 2);
  --space-unit-2: calc(var(--space-unit) * 2);
  --space-unit-4: calc(var(--space-unit) * 4);

  /* TYPOGRAPHY */
  --typo-size: 1.2rem;
  --typo-vw: 1vw;
  --typo-h1: calc(var(--typo-size) + calc(var(--typo-vw) *2.1));
  --typo-h2: calc(var(--typo-size) + calc(var(--typo-vw) *1.2));
  --typo-h3: calc(var(--typo-size) + calc(var(--typo-vw) * 0.8));
  --typo-h4: calc(var(--typo-size) + calc(var(--typo-vw) *0.4));
  --typo-h5: calc(var(--typo-size) + calc(var(--typo-vw) *0.2));
  --typo-p: calc(var(--typo-size) + calc(var(--typo-vw) *0.2));
  --typo-small: calc(calc(var(--typo-size) * 0.8) + calc(var(--typo-vw) *0.0));



  /* CONTAINER */
  --container: 80%;
  --container-max: 1400px;

  /* PALETTE - DEFAULT MODE */
  --color-primary: white;
  --color-secondary: rgb(228, 228, 228);
  --color-terziary: rgb(107, 107, 107);

  --bg-primary: rgb(17, 17, 17);
  --bg-elements: rgb(43, 43, 43);

  --color1: rgb(45, 138, 233);
  --color2: rgb(237, 13, 137);
  --color3: rgb(0, 255, 234);
  --hover-color: rgb(0, 255, 234);

  --color-warning: rgb(226, 43, 67);
  --color-success: rgb(28, 143, 89);
}



/*******************************************************************
# RESPONSIVE TYPOGRAPHY
*******************************************************************/

* {
  letter-spacing: calc(var(--typo-size) * 0.02);
}

h1 {
  font-size: var(--typo-h1);
  font-weight: 600;
}

h2 {
  font-size: var(--typo-h2);
  font-weight: 600;
}

h3 {
  font-size: var(--typo-h3);
  font-weight: 600;
}

h4 {
  font-size: var(--typo-h4);
  font-weight: 500;
}

h5 {
  font-size: var(--typo-h5);
  font-weight: 600;
}

p {
  color: var(--color-secondary);
  font-size: var(--typo-p);
  font-weight: 200;
}

.smallText {
  color: var(--color-secondary);
  font-size: var(--typo-small);
  font-weight: 200;
}

.textLight {
  font-weight: 100;
}



/*******************************************************************
# SPACING
*******************************************************************/

.space-half {
  margin-bottom: var(--space-unit-h);
}

.space1 {
  margin-bottom: var(--space-unit);
}

.space2 {
  margin-bottom: var(--space-unit-2);
}

.space3 {
  margin-bottom: calc(var(--space-unit) * 3)
}

.space4 {
  margin-bottom: var(--space-unit-4);
}



/*******************************************************************
# UTILITY
*******************************************************************/

body {
  height: 100vh;
  min-width: 95vw;
  background-color: var(--bg-primary);
  color: var(--color-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  width: var(--container);
  max-width: var(--container-max);
  padding: var(--space-unit-4) 0;
  margin: auto;
}

.bottomButtonsContainer {
  margin-top: var(--space-unit-4);
  display: flex;
  justify-content: start;
  gap: var(--space-unit);
}

.hidden {
  display: none;
}

.warning {
  color: var(--color-warning);
}

/****************************************** BUTTONS */

.button {
  font-size: var(--typo-size);
  font-weight: 400;
  padding: calc(var(--space-unit) * 0.3) calc(var(--space-unit) * 1.2);
  border-radius: 50px;
  border: 2px solid;
  cursor: pointer;
}

.roundButton {
  color: var(--bg-primary);
  font-weight: 100;
  border-radius: 100%;
  background-color: rgb(214, 214, 214);
  height: 2rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundButton:hover {
  cursor: pointer;
  color: var(--bg-primary);
  background-color: var(--color2);
}

/****************************************** INPUTS*/

.input {
  font-size: var(--typo-p);
  padding: var(--space-unit-half) var(--space-unit-2);
  background-color: var(--bg-elements);
  color: var(--color-primary);
  outline: none;
  border: 2px solid var(--bg-elements);
  border-radius: 50px;
  flex-grow: 1;
}

.input::placeholder {
  color: var(--color-secondary);
}

.input:focus {
  background-color: var(--bg-elements);
  color: var(--color-primary);
  border: 2px solid var(--color3);
  border-radius: 50px;
}

/****************************************** LINK */

.hyperlink:hover {
  color: var(--hover-color);
  transition: all 0.5s ease;
}

/****************************************** COLORS */

.color1 {
  border-color: var(--color1);
}

.color2 {
  border-color: var(--color2);
}

.color3 {
  border-color: var(--color3);
}

/****************************************** FLEX */

.flexLine {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-unit);
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: var(--space-unit);
}

/****************************************** SECTION */

.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-unit-2);
  padding-bottom: var(--space-unit-2);
  border-bottom: 2px solid var(--color-terziary);
  margin-bottom: var(--space-unit-4);
}

/****************************************** MISCELLANEOUS */

.card {
  padding: var(--space-unit-2);
  border: 2px solid var(--color1);
  border-radius: 35px;
  border-top-right-radius: 0;
}

.listSymbol {
  color: var(--color1);
}

.missingData {
  padding: 0 1rem;
  background-color: yellow;
  color: rgb(255, 0, 0);
}



/*******************************************************************
# MODAL
*******************************************************************/

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  padding: var(--space-unit-2);
  display: flex;
  flex-direction: column;
  gap: var(--space-unit-2);
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 60%;
  color: var(--color-primary);
  padding: var(--space-unit-2);
}

.modalText {
  color: inherit;
}

.modalButtonsContainer {
  display: flex;
  justify-content: end;
  gap: var(--space-unit);
}

.closeModal {
  background-color: var(--color-warning);
  border-color: var(--color-warning);
}



/*******************************************************************
# HEADER
*******************************************************************/

header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-unit-2);
  background-color: var(--bg-elements);
}

header .imgContainer {
  max-height: var(--space-unit-3);
  max-height: calc(var(--space-unit-2) * 1.1);
}

header .imgContainer a {
  display: flex;
  align-items: center;
  height: 100%;
}

header .imgContainer img {
  max-height: 100%;
  max-width: 100%;
}



/*******************************************************************
# NAVBAR
*******************************************************************/

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--space-unit);
  position: relative;
  width: 50%;
}

nav>a {
  padding-right: var(--space-unit);
  border-right: 1px solid var(--color-terziary);
}

nav :nth-last-child(2) {
  padding-right: 0;
  border: none;
}

nav :last-child {
  border: none;
}

/****************************************** DROPDOWN */

nav .dropDownButton {
  cursor: pointer;
  font-size: var(--typo-p);
  font-weight: 500;
  padding-bottom: 2px;
}

nav .dropDownButton:hover {
  color: var(--hover-color);
  transition: color 0.5s ease;
}

nav .dropDown {
  position: absolute;
  right: 0;
  top: 120%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  padding: var(--space-unit);
  border-radius: 10px;
  border-top-right-radius: 0;
  border: 1px solid var(--color3);
}

nav .dropDown>a {
  padding-bottom: var(--space-unit);
  margin-bottom: var(--space-unit);
  border-bottom: 1px solid var(--color-terziary);
}

nav .dropDown> :last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}



/*******************************************************************
# FILTERS + SEARCHBAR
*******************************************************************/

/****************************************** FILTERS CONTAINER */

.filtersSection {
  width: 100%;
  display: flex;
  gap: var(--space-unit);
  flex-wrap: wrap;
}

/****************************************** COMMON FILTER PROPERTIES */

.filterContainer {
  flex-grow: 1;
  cursor: pointer;
  max-width: 40%;
  border-radius: 35px;
  border: 2px solid var(--color1);
  padding: var(--space-unit-half) calc(var(--space-unit) * 1.5);
  padding-right: var(--space-unit-half);
  display: flex;
  justify-content: space-between;
}

.filterContainer .roundButton:hover {
  cursor: pointer;
  color: white;
  background-color: var(--color-warning);
}

/****************************************** SELECT */

select {
  display: flex;
  align-items: center;
  margin-right: var(--space-unit);
}

.select {
  flex-grow: 1;
  appearance: none;
  font-size: var(--space-unit);
  border: none;
}

.select:focus {
  outline: none;
  border: none;
}

option {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--bg-elements);
}

option:hover {
  background-color: var(--color1);
}

/****************************************** SEARCHBAR */

.searchbarInput {
  min-width: 85%;
}



/*******************************************************************
# SQUARE PICTURE + OVERLAY
*******************************************************************/

/****************************************** SQUARE PICTURE */

.squarePicContainer {
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
  flex: 0 0 calc((100% / 3) - ((var(--space-unit) * 2) / 3));
  cursor: pointer;
}

.squarePic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.squarePicDefault {
  background-color: var(--bg-elements);
  border: 2px solid var(--color-terziary);
  display: flex;
  flex: 0 0 calc((100% / 3) - ((var(--space-unit) * 2) / 3));
  justify-content: center;
  align-items: center;
}

/****************************************** OVERLAY */

.PicOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  padding: var(--space-unit-2);
  display: flex;
  flex-direction: column;
  gap: var(--space-unit-2);
  justify-content: center;
  align-items: center;
}

.OverlayCloseContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.PicOverlay .roundButton {
  cursor: pointer;
  color: white;
  background-color: var(--color-warning);
}

.OverlayImg {
  max-width: 100%;
  max-height: calc(100% - calc(var(--space-unit-2) * 3));
  object-fit: contain;
}



/*******************************************************************
# GALLERY
*******************************************************************/

/****************************************** COLUMNS */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-unit-half);
}



/*******************************************************************
# CONTACT FORM
*******************************************************************/

.formFields {
  display: flex;
  flex-direction: column;
  gap: var(--space-unit-2);
  margin-bottom: var(--space-unit-2);
}

.contactForm .space1 {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-unit);
}

.contactForm .input {
  min-width: 30%;
}

.contactForm .fieldMessage.input {
  padding: var(--space-unit);
  min-height: 12rem;
  border-radius: 15px;
}

.charCounter {
  display: flex;
  justify-content: end;
}

.charCounter .counter {
  margin-left: auto;
  font-weight: 400;
}



/*******************************************************************
# CHECKBOX
*******************************************************************/

.checkboxContainer {
  cursor: pointer;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: var(--space-unit);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--space-unit) + var(--space-unit-half));
  aspect-ratio: 1;
  border: 2px solid var(--color3);
  border-radius: 5px;
}

.checkboxText {
  font-size: var(--typo-small);
  color: inherit;
}

.checkMark {
  color: inherit;
  font-size: calc(var(--space-unit) *1.3);
  line-height: var(--space-unit);
  rotate: 45deg;
}



/*******************************************************************
# CALL US
*******************************************************************/

.callHours {
  gap: var(--space-unit-half);
}

.callHours .daySlots {
  display: flex;
  flex-direction: column;
  gap: var(--space-unit-half);
}

.callHours .slot {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-unit-half);
  padding-bottom: var(--space-unit-half);
  border-bottom: 1px solid var(--color-terziary);
  ;
}

.callHours .daySlots :last-child {
  padding-bottom: none;
}

.callHours .day {
  min-width: 12%;
}

.callHours .hours {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-unit);
}



/*******************************************************************
# MAP
*******************************************************************/

.mapSection a:hover {
  color: inherit;
}

.mapContainer {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--space-unit) *3);
}

.mapContainer .mapText {
  max-width: 35%;
}

.mapContainer a:hover {
  color: inherit;
}

.mapContainer .imgContainer {
  display: flex;
  height: calc(var(--space-unit) * 3 + 20vh);
}

.mapContainer img {
  max-height: 100%;
  max-width: 100%;
}



/*******************************************************************
# ERROR MSG
*******************************************************************/

.errorMsg {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: var(--space-unit-half);
}

.errorMsg img {
  width: calc(15px + calc(var(--typo-vw) * 0.5));
  aspect-ratio: 1;
}



/*******************************************************************
# ACCORDION
*******************************************************************/

.accordion.card {
  cursor: pointer;
  border-radius: 15px;
  border-top-right-radius: 0;
}

.accordionText {
  padding-top: var(--space-unit);
  max-height: 50vh;
}



/*******************************************************************
# SOCIAL MEDIA
*******************************************************************/

.socialMedia {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--space-unit) * 1.2);
}

.socialMedia a {
  display: flex;
  align-items: center;
}

.socialMedia img {
  height: calc(20px + calc(var(--typo-vw) * 0.5));
  aspect-ratio: 1;
}



/*******************************************************************
# TOGGLE
*******************************************************************/

.toggle {
  display: flex;
  align-items: center;
  gap: var(--space-unit-half);
  cursor: pointer;
  line-height: 100%;
}

.toggle .toggleContainer {
  display: flex;
  justify-content: start;
  height: calc(var(--space-unit) + .5vh + 3px);
  aspect-ratio: 2;
  padding: 3px;
  border-radius: 15px;
  border: 2px solid var(--color-secondary);
}

.toggle .toggleContainer.on {
  justify-content: end;
  border-color: var(--color-primary);
}

.toggle .togglePoint {
  height: calc(var(--space-unit) + .5vh -4px);
  aspect-ratio: 1;
  background-color: var(--color-terziary);
  border-radius: 100%;
}

.toggle .togglePoint.on {
  background-color: var(--color1);
}

.toggle p {
  color: var(--color-primary);
}



/*******************************************************************
# FOOTER
*******************************************************************/

footer {
  color: var(--color-secondary);
  font-size: var(--typo-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-unit);
  padding: var(--space-unit-2);
  background-color: var(--bg-elements);
}

footer .flexLine>a {
  font-size: var(--typo-small);
  padding-right: var(--space-unit);
  border-right: 1px solid var(--color-terziary);
}

footer .flexLine :last-child {
  padding-right: 0;
  border: none;
}



/*******************************************************************
# NOT FOUND PAGE
*******************************************************************/

.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-unit-2);
  margin: auto;
}

.notFoundContainer img {
  max-height: 60px;
}



/*******************************************************************
# MEDIAQUERY
*******************************************************************/

/****************************************** TABLET */

@media screen and (max-width: 768px) {

  .filterContainer {
    flex-grow: 1;
    max-width: 100%;
  }

  .card {
    padding: calc(var(--space-unit) * 1.5);
    border-radius: 15px;
    border-top-right-radius: 0;
  }

  .callHours .day {
    min-width: 20%;
  }

  .mapContainer .imgSection {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-unit-2);
  }

  .mapContainer .mapText {
    max-width: none;
  }
}


/****************************************** MOBILE */

@media screen and (max-width: 576px) {

  :root {
    /* TYPOGRAPHY */
    --typo-size: 1.2rem;
    --typo-p: calc(var(--typo-size) + calc(var(--typo-vw) *0.0));
  }

  p {
    line-height: calc(var(--typo-size) + calc(var(--typo-vw) *1.7));
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .container {
    width: calc(var(--container)* 1.07);
  }

  header {
    padding: calc(var(--space-unit) *1.5);
  }

  .section {
    margin-bottom: var(--space-unit-2);
  }

  .filterContainer {
    flex-grow: 1;
    max-width: 100%;
  }

  .modal {
    text-align: center;
    max-width: 85%;
    padding: var(--space-unit-2);
  }

  .modalButtonsContainer {
    flex-direction: column;
    align-items: center;
  }

  .closeModal {
    margin: var(--space-unit) 0;
  }

  .gallery {
    gap: var(--space-unit-half);
  }

  .squarePicContainer {
    flex: 0 0 100%;
    gap: var(--space-unit-half);
  }

  .card {
    padding: var(--space-unit);
  }

  .callHours .slot {
    flex-direction: column;
  }

  .callHours .day {
    min-width: 25%;
  }

  .buttonContainerContacts {
    display: flex;
    justify-content: space-between;
  }
}


/****************************************** MOBILE XS */

@media screen and (max-width: 350px) {

  nav .dropDown {
    top: 200%;
    width: calc(100vw - calc(var(--space-unit) *3));
  }
}



/*******************************************************************
# DEBUG
*******************************************************************/

.debug {
  padding: var(--space-unit);
  background-color: rgba(255, 0, 0, 0.3);
  color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}

/* * {
  outline: 1px solid blue;
} */